.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 27px;
  padding-right: 27px;
}

.hero__title {
  font-family: europa;
  font-weight: bold;
  font-size: 46px;
  line-height: 125%;
  text-align: center;
  letter-spacing: -1.5px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0 0 0;
  margin-bottom: 33px;
}

.hero__subtitle {
  text-align: center;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  font-size: 21px;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  font-weight: 500;
}

.hero__cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.hero__ctaInput {
  border-radius: 0 !important;
  font-size: 18px !important;
  line-height: 165% !important;
  color: #111111 !important;
  opacity: 1 !important;
  font-weight: normal !important;
  font-family: europa !important;
  font-size: 18px !important;
  text-align: center;
  padding: 12.5px 32px !important;
  border: 1px solid #3bb4ff !important;
}

.hero__ctaInput:focus {
  outline: none;
}

.hero_ctaButton {
  background-color: #3bb4ff !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  border-radius: 0 !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  font-size: 18px !important;
  height: 56px;
  border: none;
  padding: 15.5px 21px !important;
}

.hero__txt {
  font-family: Minion Pro;
  font-size: 20px;
  line-height: 165%;
  text-align: center;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.here__ctaSubmitEvent {
  box-shadow: inset 0 -3px 0 0 #3bb4ff;
  font-size: 18px;
  margin-top: 42px !important;
  cursor: pointer;
}
