.eventTile {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  border: 2px solid #f7f7f7;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-bottom: 4%;
  padding: 5% 3% 5%;
  position: relative;
  overflow: hidden;
  text-align: left;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.eventName {
  display: inline;
  font-size: 2rem;
  color: #111;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #3bb4ff7c;
}

.eventTime {
  padding-top: 10px;
}

.eventDesc {
  padding-top: 10px;
  font-size: 17px;
  text-align: center;
  margin-top: 16px;
  max-width: 800px;
  line-height: 28px;
}

.eventAddToCalenderBtn {
  margin-right: 16px;
  background-color: #3bb4ff !important;
  color: white !important;
  padding: 12px 32px;
  color: #3bb4ff;
  text-decoration: none;
  font-weight: 700;
}
